* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-weight: 700;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
.topo {
    width: 100%;
    min-height: 99px;
    background-color: #F2F3F4;
}
.container1 {
    max-width: 1440px;
    width: 100%;
    min-height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 63px;
    margin: 0 auto;
}
.topo img {
    width: 100%;
    max-width: 270px;
    height: auto;
    transition: transform 0.3s ease;
}
.topo img:hover {
    transform: scale(1.05);
}
.topo img:active {
    transform: scale(0.95);
}
.topo button {
    width: 301px;
    min-height: 58px;
    background-image: linear-gradient(to right, #5EA2EF, #12D6DF);
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.topo button:hover {
    transform: scale(1.05);
}
.topo button:active {
    transform: scale(0.95);
}
button a {
    color: #F2F3F4;
    text-decoration: none;
    font-size: 20px;
}
.banner {
    width: 100%;
    min-height: 523px;
    background-image: linear-gradient(to bottom right, rgba(209, 45, 157, 0.6), rgba(18, 214, 223, 0.6)), url(imagens/Image-Banner.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.container2 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 112px;
    row-gap: 10px;
}
.banner h1, .banner p {
    color: #F2F3F4;
    max-width: 749px;
}
.banner h1 {
    font-size: 48px;
}
.banner p {
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
}
.clientes {
    width: 100%;
    min-height: 409px;
    padding-top: 52px;
    padding-bottom: 30px;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.clientes h1 {
    font-size: 36px;
    color: #101012;
}
.logos-clientes {
    width: 100%;
    max-width: 1440px;
    min-height: 199px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    row-gap: 74px;
    padding: 0 163px;
}
.logos-clientes img {
    width: 100%;
    max-width: 127px;
    height: auto;
}
.servicos {
    width: 100%;
    min-height: 698px;
    background-color: #F2F3F4;
}
.container3 {
    width: 100%;
    max-width: 1440px;
    min-height: 698px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.retangulo {
    width: 100%;
    max-width: 1237px;
    min-height: 538px;
    border-radius: 60px;
    padding-top: 52px;
    padding-bottom: 141px;
    background-image: url(imagens/megafone.png), url(imagens/rede-social.png), linear-gradient(to right, #5EA2EF, #12D6DF);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 80px, 80px, cover;
    background-position: 88px 51px, 1071px 408px, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.retangulo h1 {
    font-size: 36px;
    color: #F2F3F4;
}
.listas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 145px;
}
.listas ul {
    max-width: 380px;
}
.listas li {
    font-size: 28px;
    color: #F2F3F4;
    font-weight: 600;
}
.orcamento {
    width: 100%;
    min-height: 650px;
    padding-top: 52px;
    padding-bottom: 71px;
    background-image: linear-gradient(to bottom right, rgba(209, 45, 157, 0.6), rgba(18, 214, 223, 0.6)), url(imagens/Image-Banner2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 43px;
}
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.orcamento h1, .orcamento p {
    color: #F2F3F4;
}
.orcamento h1 {
    font-size: 36px;
}
.orcamento p {
    width: 722px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.container5 {
    width: 100%;
    max-width: 1440px;
}
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 47px;
}
.dados {
    width: 960px;
    padding-left: 6px;
    padding-bottom: 4px;
    background: transparent;
    color: #F2F3F4;
    font-size: 28px;
    font-weight: 600;
    border: none;
    border-bottom: 3px #F2F3F4 solid;
    outline: none;
}
.dados::placeholder {
    color: #F2F3F4;
    opacity: 1;
    font-size: 28px;
    font-weight: 600;
}
input:focus::placeholder {
    opacity: 0;
}
.enviar {
    width: 301px;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 31px;
    text-align: center;
    color: #101012;
    background: #F2F3F4;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.enviar:hover {
    transform: scale(1.05);
}
.enviar:active {
    transform: scale(0.95);
}
.servicos {
    width: 100%;
    min-height: 698px;
    background-color: #F2F3F4;
}
.artigos {
    width: 100%;
    min-height: 1144px;
    padding-top: 52px;
    padding-bottom: 113px;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 76px;
}
.artigos h1 {
    font-size: 36px;
    color: #101012;
}
.container6 {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    place-items: center;
    row-gap: 65px;
}
.container6 a {
    text-decoration: none;
    display: block;
}
.container6 article {
    width: 336px;
    height: 394px;
    transition: transform 0.3s ease;
}
.container6 article:hover {
    transform: translateY(-15px);
}
.container6 article:active {
    transform: scale(0.95);
}
.container6 img {
    width: 336px;
    height: auto;
    border-radius: 30px 30px 0 30px;
    margin-bottom: 16px;
}
.container6 h3 {
    width: 339px;
    color: #101012;
    font-size: 30px;
    font-weight: 600;
}
.rodape {
    width: 100%;
    min-height: 295px;
    background-image: linear-gradient(to right, #D12D9C, #12D6DF);
    display: grid;
    place-items: center;
}
.container7 {
    width: 100%;
    max-width: 1440px;
    min-height: 295px;
    padding-top: 52px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 23px;
}
.container8 > img {
    width: 250px;
    height: auto;
}
.redes{
    display: flex;
    justify-content: space-between;
    column-gap: 62px;
}
.redes img {
    width: 35px;
    height: auto;
    transition: transform 0.3s ease;
}
.redes img:hover {
    transform: scale(1.2 );
}
.redes img:active {
    transform: scale(0.95);
}
.container7 p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #F2F3F4;
}